<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tu Periódico</title>
    <link rel="stylesheet" type="text/css" href="../static/css/stilo.css" th:href="@{/css/stilo.css}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/5.3.2/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" href="../static/css/menu.css" th:href="@{/css/menu.css}">
</head>
<body>

<header>
    <h1>Periódico Primavera</h1>
</header>

<nav>
    <div class="menu">
        <div class="logo">
            <a>Biblioteca</a>
        </div>
        <ul class="nav-links">
            <li class="mt-3 me-5" sec:authorize="hasRole('ROLE_ADMIN')"><a th:href="@{/privada/listado}">Listado Usuarios</a></li>
            <li>
                <form th:action="@{/auth/logout}" method="post" id="logoutForm">
                    <button type="button" class="btn btn-dark mt-2"
                            onclick="confirmarLogout()">Logout</button>
                </form>
            </li>
        </ul>
    </div>
</nav>

<h3 class="text-dark text-center mt-5">Bienvenido <span th:text="${nombreUsuario}">usuario</span></h3>
<script th:if="${not #strings.isEmpty(noAdmin)}">
    mostrarNotificacion("¡Prohibido!", "No tiene permisos para acceder a este recurso", 'error');
</script>

<script
    src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"
    th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script
    src="https://maxcdn.bootstrapcdn.com/bootstrap/5.3.2/js/bootstrap.min.js"
    th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script th:src="@{/script/script.js}"></script>
</body>
</html>
