<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
	<meta charset="UTF-8">
	<title>Registro</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/5.3.2/css/bootstrap.min.css"
		th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
	<link rel="stylesheet" href="../static/css/stilo.css" th:href="@{/css/stilo.css}">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js" th:src="@{/webjars/jquery/jquery.min.js}"></script>
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
	<script th:src="@{/script/script.js}"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/5.3.2/js/bootstrap.min.js" th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</head>

<body>

	<header>
		<h1>Periodico Primavera</h1>
	</header>

	<nav>
		<div class="dropdown">
            <i class=" fa fa-caret-down"></i>		
			<a th:href="@{/}">Inicio</a>
			<a th:href="@{/login}">Login</a>
		</div>
	</nav>

	<div class="contenedor form-registro">
		<p class="titulo">Nuevo Usuario</p>
		<form class="form" th:action="@{/auth/registrar}" enctype="multipart/form-data" method="post" th:object="${usuarioDTO}">
			<input type="text" id="nombreUsuario" name="nombreUsuario" class="input" placeholder="Nombre"
				required th:value="*{nombreUsuario}">
			<input type="text" id="apellidosUsuario" name="apellidosUsuario" class="input" placeholder="Apellidos"
				required th:value="*{apellidosUsuario}">
			<input type="text" id="dniUsuario" name="dniUsuario" class="input" placeholder="DNI" required
				th:value="*{dniUsuario}">
			<input type="text" id="tlfUsuario" name="tlfUsuario" class="input" placeholder="Telefono"
				required th:value="*{tlfUsuario}">
			<input type="email" id="emailUsuario" name="emailUsuario" class="input" placeholder="Email"
				required th:value="*{emailUsuario}">
			<input type="password" id="claveUsuario" name="claveUsuario" class="input" placeholder="Contraseña"
				required th:value="*{claveUsuario}" oninput="revisarContraseña()">
			<input type="password" id="confirmarClaveUsuario" name="confirmarClaveUsuario" class="input"
				placeholder="Confirmar Contraseña" required oninput="revisarContraseña()">
			<button type="submit" id="btnRegistro" class="form-btn">Registrarse</button>
			<div class="mensajeContrasenya" id="mensajeContrasenya"></div>
		</form>
	</div>

	<script th:if="${not #strings.isEmpty(mensajeErrorDni)}">
	    mostrarNotificacion("¡Error!", "Ya se encuentra registrado un usuario con ese DNI", 'error');
	</script>
	<script th:if="${not #strings.isEmpty(mensajeErrorMail)}">
	    mostrarNotificacion("¡Error!", "El email ya se encuentra registrado en el sistema", 'error');
	</script>
</body>

</html>
